<!DOCTYPE html>
<html>
<head>
    <title>Вкусные оладьи на всю семью!</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Оладьи и Моцарт</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/vwIUJbIU57s?si=ADoPX9QXG2NXCHAl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <p style="color:blue">Рецепт оладушков
            \/
            \/</p>
        <p style="color:white">Молоко - 200 мл</p>
        <p style="color:white">Яйцо - 1-2 шт. (в зависимости от размера)</p>
        <p style="color:white">Мука - 180-200 г</p>
        <p style="color:white">Разрыхлитель - 1 ч. ложка</p>
        <p style="color:white">Сахар - 2 ст. ложки (или по вкусу)</p>
        <p style="color:white">Соль - 1 щепотка</p>
        <p style="color:white">Масло растительное для жарки - 2-3 ст. ложки</p>
        <p style="color:white">Подготовить необходимые продукты.</p>
        <p style="color:white">Яйцо взбить с сахаром и солью в течение пары минут.</p>
        <p style="color:white">Добавить молоко, хорошо перемешать.</p>
        <p style="color:white">Муку смешать с разрыхлителем и добавить к жидкой массе.</p>
        <p style="color:white">Перемешать тесто до однородного состояния.</p>
        <p style="color:white">Тесто для оладий должно получиться гуще блинного.</p>
        <p style="color:white">На сковороду налить растительное масло, хорошо разогреть на среднем огне.</p>
        <p style="color:white">На разогретую сковороду с маслом наливать тесто столовой ложкой</p>
        <p style="color:white">Жарить оладьи до золотистого цвета с каждой стороны (ориентировочно по 3 минуты)</p>
        <p style="color:white">Готовые оладьи на молоке подавать со сметаной или вареньем.</p>
        <p style="color:white">УРААА ОЛАДУШКИ!!!</p>
</div>
</body>
</html>
